.gradient-text {
  font-weight: 600;
  background-clip: text;
  color: transparent;
  animation: rainbow-slide 8s linear infinite;
  background-size: 300% 100%;
  background-image: linear-gradient(
    90deg,
    #e5600b 0,
    #bfaf00 14%,
    #37bb00 28%,
    #25b5f5 43%,
    #ca57fa 68%,
    #fa3f2b 83%,
    #e5600b
  );
}

.dither-text {
  display: inline-block;
  animation: vibrate-small 0.3s linear infinite both;
}

@keyframes rainbow-slide {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes vibrate-small {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-1px, 1px);
  }

  40% {
    transform: translate(-1px, -1px);
  }

  60% {
    transform: translate(1px, 1px);
  }

  80% {
    transform: translate(1px, -1px);
  }

  100% {
    transform: translate(0);
  }
}
